body {
  height: 1800px;
  background: #30292d url(/img/background.png) center no-repeat;
  font-family: 'Doppio One', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* CONTAINER */
  .container {
    position: relative;

    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }

/* HEADER */
  .header {
    max-width: 100%;
    height: 60px;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #030303c9;
  }

  /* NAVIGATION */

  .navigation {
    display: flex;
    font-size: 14px;
    font-weight: 900;

    margin-right: 25px;

    text-transform: uppercase;
  }

  .navigation__link {
    margin-left: 25px;
    color: #FFF;
    padding: 9px 13px;

    text-decoration: none;
  }

  .navigation__link:hover  {
    background-color: #8f746c;
    border-radius: 2px;
    transition: opacity .5s linear;
  }

/* INTRO */
  .intro {
    height: 563px;
    background: #373136 url(../img/intro/bike-background-intro.png) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro_inner {
    width: 100%;
    max-width: 478px;
    text-align: center;
  }

  .intro_title {
    width: 437px;
    margin: 0 auto;


    font-family: 'Bebas Neue', cursive;
    font-size: 61px;
    font-weight: 400;
    line-height: 1.1;
    color: #FFF;

    text-transform: uppercase;
    text-align: center;

  }

  /* BANNER */
  .little-banner{
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
  }

/* CONTENT */
  .content {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
  }

  /* TOP CONTENT */
    .top-content {
      height: 296px;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    /* LEFT */
    .bike-sale{
      position: relative;
      width: 475px;
      height: 100%;
    }
    .bike-banerl{
      position: absolute;
      top: 0;
      left: 0;
    }
    .title-bikel{
      position: absolute;
      transform: rotate(-43deg);
      top: 37px;
      left: 12px;

      font-family: 'Bebas Neue', cursive;
      font-size: 21px;
      font-weight: 600;
      color: #FFF;
      text-transform: uppercase;
      letter-spacing: 1px;

    }
    .bike-bikel{
      display: block;
      margin: 30px auto;
    }


    /* RIGHT */
    .baner-sale {
      position: relative;
      font-family: 'Doppio One', sans-serif;
      width: 525px;
      height: 100%;

      background-color: #EFDFDC;
    }

    .bg-for{
      position: absolute;
      top: 38px;
      left: -14px;

    }

    .sale-baner{
      position: absolute;
      top: 0;
      right: 5px;

      font-size: 150px;
      margin: -44px 0;
      opacity: 0.07;
      text-transform: uppercase;

    }

    .text-baner-sale {
      position: relative;
      height: 249px;
      padding-top: 23.5px;
      padding-left: 35px;
    }

    .name-baner {
      font-size: 19px;
      font-weight: 700;
    }

    .author-baner {
      padding-top: 12px;

      font-size: 12px;
      font-style: italic;
      color: #A28077;
    }

    .price-baner {
      padding: 22px 0;

      font-family: 'Bebas Neue', cursive;
      font-size: 61px;
      font-weight: 700;
    }

    .btn-baner {
      margin: 25px 0;
      border: 2px solid;
      padding: 14px 43px;

      font-size: 13px;
      text-transform: uppercase;
      color: #A28077;
    }

    .question-baner {
      padding-top: 45px;

      font-size: 12px;
      font-weight: 600;
    }

    .rating-baner {
      width: 164px;

      display: flex;
      justify-content: space-between;

      position: absolute;
      top: 197px;
      right: 48px;
    }

    .title-rating {
      font-size: 12px;
      font-weight: 600;
    }

  /* MIDDLE CONTENT */
  .middle-content {
    position: relative;
    height: 342px;

    display: flex;
    justify-content: space-between;

  }

  .one-middle,
  .two-middle,
  .three-middle,
  .four-middle {
    width: 250px;
  }

  .png-middle-bike{
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  .title-middle-bike {
    position: absolute;
    width: 218px;
    bottom: 80px;
    padding-left: 10px;
  }

  .name-middle-bike {
    font-size: 14px;
    font-weight: 600;

    padding: 0 0 6px;
  }

  .author-middle-bike {
    font-size: 12px;
    font-style: italic;

    color: #A28077;

    padding: 0 0 14px;
  }

  .price-middle-bike {
    position: absolute;
    top: 4px;
    right: 5px;

    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
  }

  .btn-middle-bike {
    position: absolute;
    padding: 10px 17px;
    border: 2px solid;

    text-transform: uppercase;
    font-size: 12px;
    color: #A28077;
  }

  .middle-container {
    position: absolute;
    top: 84px;
    right: 22px;

    width: 47px;
    height: 75px;

    opacity: 0.7;
    background:#F7EDED url(/img/content/middle/bg-for.png)  center no-repeat;
    background-size: cover;
  }

  .arrow {
    margin: 25px 0;

    width: 24px;
    height: 24px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;

  }

  .arrow-left {
    transform: rotate(45deg);
  }

  /* BOTTOM CONTENT */
  .bottom-content {
    height: 367px;
    width: 100%;
  }
  .line-bottom {
    height: 2px;
    background-color: #E3D0CE;
  }
  .banner-bottom {
    height: 363px;
    position: relative;
    background: #373136 url(../img/content/bottom-baner/bg-bottom.png) center no-repeat;
    background-size: cover;
  }
  .btn-bottom-baner {
    display: inline-block;
		vertical-align: top;
    margin: 182px 0 0 406px;

    padding: 13px 26px;
    border: 3px solid;

    font-size: 28px;
    font-weight: 700;
    color: #FFF;

    text-transform: uppercase;

    cursor: pointer;
  }

/* BOTTOM-MENU */
  .menu {
    height: 69px;
  }

  .menu_inner {
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }

  .a-menu {
    top: 50%;
    left: 50%;
    font-size: 12px;
    font-weight: 700;
    color: black;
    margin-right: 25px;

    text-decoration: none;
    text-transform: uppercase;
  }
/* PAYMENTS */
  .payments {
    padding: 20px 0;

    display: flex;
    justify-content: center;
  }

  .pay-link {
    margin-right: 5px;
  }
